---
layout: default
title: Bike Blog FW
header: true
date: 01.06.2025
touren:
  - name: Bodensee Rundtour 2022
    length: 535
    steps: 5
    link: "2022.html"
    gpx: "src/gpx_files/2022.gpx"
  - name: Kirchheim - Garmisch-Partenkirchen - Kirchheim 2023
    length: 617
    steps: 9
    link: "2023.html"
    gpx: "src/gpx_files/2023.gpx"
  - name: Oberstdorf - Flensburg - Westerland 2024
    length: 1562
    steps: 19
    link: "2024.html"
    gpx: "src/gpx_files/2024.gpx"
planned:
  - name: Kirchheim - Oslo 2025
    length: 1825
    steps: ca. 21
    link: "2025.html"
    gpx: "src/gpx_files/KT-Oslo.gpx"
---

<h2>Bisherige Touren</h2>
<div class="grid gap-y-4 xl:gap-y-6">
  {%for tour in page.touren%}
  <div class="flex flex-col details hover:cursor-pointer">
    <details>
      <summary>{{tour.name}}</summary>
      <span class="flex flex-col pt-3 w-full">
        <div>Länge: {{tour.length}} km</div>
        <div>Anzahl Etappen: {{tour.steps}}</div>
        {%if tour.gpx%}
          <a href="{{site.baseurl}}{{tour.gpx}}" download class="w-min text-nowrap">
            Download GPX
          </a>
        {%else%}
          Keine GPX Datei
        {%endif%}
        {%if tour.link%}
          <a href="{{site.baseurl}}{{tour.link}}">
            Beschreibung
          </a>
        {%endif%}
      </span>
    </details>
  </div>
  {%endfor%}
  </div>
  <h2 class="mt-12 xl:mt-20">In Planung</h2>
  <div class="grid gap-y-4 xl:gap-y-6">
  {%for tour in page.planned%}
  <div class="flex flex-col details hover:cursor-pointer">
    <details>
      <summary>{{tour.name}}</summary>
      <span class="flex flex-col pt-3 w-full">
        <div>Länge: {{tour.length}} km</div>
        <div>Anzahl Etappen: {{tour.steps}}</div>
        {%if tour.gpx%}
          <a href="{{site.baseurl}}{{tour.gpx}}" download class="w-min text-nowrap">
            Download GPX
          </a>
          {%else%}
            Keine GPX Datei
        {%endif%} {%if tour.link%}
        <a href="{{site.baseurl}}{{tour.link}}">
          Beschreibung
        </a>
        {%endif%}
      </span>
    </details>
  </div>
  {%endfor%}
  <div class="w-full">
    <p class="flex justify-end">
      Zuletzt aktualisiert {{page.date}}
    </p>
  </div>
</div>
