---
layout: default
title: Kirchbichl 2025 Touren
header: yes
elevation_profile: no
gpx_tracks:
  - name: Ellmau - Hohe Salve - Ellmau
    gpx: "src/gpx_files/Kirchbichl2025/Ellmau_HoheSalve_Ellmau.gpx"
    length: 39.5
    color: "#b91c1c"
  - name: Itter - Hohe Salve - Itter
    gpx: "src/gpx_files/Kirchbichl2025/Itter_HoheSalve_Itter.gpx"
    length: 21.5
    color: "#f97316"
    date: "27.08.2025"
    link: 27082025.html
  - name: Itter - Hohe Salve - Schloss Itter - Itter
    gpx: "src/gpx_files/Kirchbichl2025/Itter_HoheSalve_SchlossItter_Itter.gpx"
    length: 27
    color: "#92400e"
    date: "23.08.2025"
    link: 23082025.html
  - name: Kirchbichl - Café Grubers - Kirchbichl
    gpx: "src/gpx_files/Kirchbichl2025/Kirchbichl_CaféGrubers_Kirchbichl.gpx"
    length: 16.5
    color: "#ca8a04"
    date: "21.08.2025"
    link: 21082025.html
  - name: Kirchbichl - Hintersteiner See - Bruckhäusl - Kirchbichl
    gpx: "src/gpx_files/Kirchbichl2025/Kirchbichl_Hinterstein_Bruckhäusl_Kirchbichl.gpx"
    length: 41.2
    color: "#3f6212"
    date: "22.08.2025"
    link: 22082025.html
  - name: Kirchbichl - Pölven - Schwoich - Kirchbichl
    gpx: "src/gpx_files/Kirchbichl2025/Kirchbichl_KleinerPoelven_Schwoich_Kirchbichl.gpx"
    length: 15.1
    color: "#022c22"
    date: "20.08.2025"
    link: 20082025.html
  - name: Kirchbichl - Pendlinghaus - Kirchbichl
    gpx: "src/gpx_files/Kirchbichl2025/MTB_Kirchbichl_Pendlinghaus_Kirchbichl.gpx"
    length: 47.4
    color: "#059669"
  - name: Westendorf - Alpenrosenhütte - Westendorf
    gpx: "src/gpx_files/Kirchbichl2025/Westendorf_Alpenrosenhütte_Westendorf.gpx"
    length: 19.5
    color: "#0891b2"
    date: "25.08.2025"
    link: 25082025.html
---

<h4>19.08.2025 - 29.08.2025</h4>
<h2>Touren Kirchbichl 2025</h2>

{%include add_map.html%}

<script>
document.addEventListener("DOMContentLoaded", () => {
  let darkmode = document.documentElement.classList.contains("dark");

  // Initialize Leaflet map
  const map = L.map("map", {
    zoomSnap: 0.1,
    zoomDelta: 0.1,
  }).setView([48.64683407492267, 9.451204869722357], 13);

  // Add tile layer
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

const tracks = [];
let gpxBounds = null; // Außerhalb der Schleife

{% for track in page.gpx_tracks %}
tracks.push({
  name: "{{track.name}}",
  color: "{{track.color}}"
});

console.log("Loading GPX from:", "{{site.baseurl}}{{track.gpx}}");

new L.GPX("{{site.baseurl}}{{track.gpx}}", {
  async: true,
  marker_options: {
    startIconUrl: null,
    endIconUrl: null,
    shadowUrl: null,
    wptIcons: {},
    wptTypeIcons: {}
  },
  polyline_options: {
    color: "{{track.color}}",
    weight: 3,
    opacity: 0.7,
    linecap: "round",
  }
})
.on("loaded", function (e) {
  const gpx = e.target;
  if (!gpxBounds) {
    gpxBounds = gpx.getBounds();
  } else {
    gpxBounds.extend(gpx.getBounds());
  }
  map.fitBounds(gpxBounds, { padding: [40, 40] });
})
.addTo(map);
{% endfor %}


  // Reset View Button
  const resetControl = L.Control.extend({
    options: {
      position: "topleft",
    },

    onAdd: function () {
      const div = L.DomUtil.create("div", "leaflet-control-zoom leaflet-bar");
      const container = L.DomUtil.create("a", "leaflet-bar-part", div);
      container.href = "#";
      container.title = "Reset view";
      container.innerHTML = `
        <div class="flex h-full w-full items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-sky-600 dark:text-sky-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
            <path d="M12 3a9 9 0 1 1-5.657 2"/>
            <path d="M3 4.5h4v4"/>
          </svg>
        </div>
      `;
      L.DomEvent.on(container, "click", L.DomEvent.stopPropagation)
        .on(container, "click", L.DomEvent.preventDefault)
        .on(container, "click", () => {
          if (gpxBounds) {
            map.fitBounds(gpxBounds, { padding: [40, 40] });
          }
        });
      return div;
    },
  });

  map.addControl(new resetControl());
});
</script>

<h3 class="pt-12">Tourenübersicht</h3>
<div class="flex flex-col gap-y-2 pt-4">
  {% for tour in page.gpx_tracks %}
  <div class="details flex flex-col hover:cursor-pointer">
    <details class="group">
      <summary class="flex">
        <div class="flex w-full flex-row items-center justify-between">
          <div class="flex-1">
            {{ tour.name }} <div class="w-fit bg-white px-2" style="color: {{ tour.color }}">{{ '■' }}</div>
            {%if tour.date%}<div class="mt-2 text-right w-full mx-4">Gefahren am: <span class="mono">{{tour.date}}</span></div>{%endif%}
          </div>
          <svg class="h-6 w-6 shrink-0 transform transition-transform duration-300 group-open:rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor" d="M16.59 8.59L12 13.17L7.41 8.59L6 10l6 6l6-6z" />
          </svg>
        </div>
      </summary>
      <span class="flex w-full flex-col pt-2">
        {%if tour.length%}<div>Länge: {{tour.length}} km</div>{%endif%}
        {%if tour.gpx%}
          <a href="{{site.baseurl}}{{tour.gpx}}" download class="text-nowrap w-min">
            Download GPX
          </a>
        {%else%}
          Keine GPX Datei
        {%endif%}
        {%if tour.link%}
          <a href="{{site.baseurl}}{{tour.link}}">
            Beschreibung
          </a>
        {%endif%}
      </span>
    </details>
  </div>
  {% endfor %}
</div>
