<script>
  let darkmode = document.documentElement.classList.contains("dark");

  // Initialize Leaflet map
  const map = L.map("map", {
    zoomSnap: 0.1,
    zoomDelta: 0.1,
  }).setView([48.64683407492267, 9.451204869722357], 13);

  // Add tile layer
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  // Elevation plugin setup
  const elevation_options = {
    theme: "lime-theme",
    detached: true,
    elevationDiv: "#elevation",
    followMarker: false,
    autofitBounds: false,
    imperial: false,
    reverseCoords: false,
    acceleration: false,
    slope: false,
    speed: false,
    altitude: true,
    time: false,
    distance: true,
    summary: false,
    downloadLink: false,
    ruler: true,
    legend: false,
    almostOver: false,
    distanceMarkers: false,
    edgeScale: false,
    hotline: false,
    timestamps: false,
    waypoints: true,
    wptLabels: true,
    preferCanvas: true,
  };

  const elevationControl = L.control.elevation(elevation_options);
  elevationControl.addTo(map);

  const url = "{{site.baseurl}}{{page.gpx}}";
  console.log("Loading GPX from:", url);

  let gpxBounds = null;

  // Load GPX file
  new L.GPX(url, {
    async: true,
    marker_options: {
      startIconUrl: null,
      endIconUrl: null,
      shadowUrl: null,
    },
    polyline_options: {
      weight: 3,
      opacity: 0.7,
      linecap: "round",
    }
  })
    .on("loaded", function (e) {
      const gpx = e.target;
      gpxBounds = gpx.getBounds();
      map.fitBounds(gpxBounds, { padding: [40, 40] });
    })
    .on("addline", function (e) {
      elevationControl.addData(e.line);
    })
    .addTo(map);

  // Adjust SVG size once it's added
  const targetNode = document.querySelector(".wrapper");
  const config = { childList: true, subtree: true };
  const axisTexts = document.querySelectorAll("g.axis");
  for (const axisText of axisTexts) {
    axisText.setAttribute("preserveAspectRatio", "true");
  }
  const callback = (mutationList, observer) => {
    for (const mutation of mutationList) {
      if (mutation.type === "childList") {
        const svgElement = document.querySelector("svg.background");
        if (svgElement) {
          console.log("SVG element has been added.");
          const elevationDiv = document.querySelector("#elevation");
          const maxWidth = elevationDiv.clientWidth;
          const maxHeight = elevationDiv.clientHeight;
          svgElement.style.width = `${maxWidth}px`;
          svgElement.style.height = `${maxHeight}px`;
          svgElement.style.backgroundColor = "inherit";
          svgElement.setAttribute("preserveAspectRatio", "none");
          observer.disconnect();
        }
      }
    }
  };
  const observer = new MutationObserver(callback);
  observer.observe(targetNode, config);

  // Reset View Button
  const resetControl = L.Control.extend({
    options: {
      position: "topleft",
    },

    onAdd: function () {
      const div = L.DomUtil.create("div", "leaflet-control-zoom leaflet-bar");
      const container = L.DomUtil.create("a", "leaflet-bar-part", div);
      container.href = "#";
      container.title = "Reset view";
      container.innerHTML = `
        <div class="flex justify-center items-center w-full h-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-sky-600 dark:text-sky-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
            <path d="M12 3a9 9 0 1 1-5.657 2"/>
            <path d="M3 4.5h4v4"/>
          </svg>
        </div>
      `;
      L.DomEvent.on(container, "click", L.DomEvent.stopPropagation)
        .on(container, "click", L.DomEvent.preventDefault)
        .on(container, "click", () => {
          if (gpxBounds) {
            map.fitBounds(gpxBounds, { padding: [40, 40] });
          }
        });
      return div;
    },
  });

  map.addControl(new resetControl());
</script>