@import "tailwindcss";
@tailwind utilities;

details summary::marker {
  content: "";
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  list-style-type: none;
}

.base-font {
  font-family: 'Inter';
}

main {
  @apply mx-auto w-full max-w-6xl hyphens-auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  &::-webkit-scrollbar { /* WebKit */
      display: none;
  }
}

i,
em,
.font-italic {
  font-family: 'InterItalic';
}

.mono {
  font-family: 'NotoSansMono';
}

nav h1 {
  @apply text-xl text-lime-600 dark:text-lime-300 xl:text-2xl;
}

nav .link-title {
  @apply text-base text-lime-600 dark:text-lime-300 hover:text-lime-900 dark:hover:text-lime-50 hover:underline hover:underline-offset-4;
}

nav .active {
  @apply text-lime-900 dark:text-lime-50;
}

main h1 {
  @apply pb-4 text-xl text-lime-600 dark:text-lime-300 xl:pb-8 xl:text-3xl;
}

h2 {
  @apply pb-3 text-lg text-lime-600 dark:text-lime-300 text-nowrap xl:pb-6 xl:text-2xl;
}

h3 {
  @apply pb-1.5 text-sm text-lime-600 dark:text-lime-300 text-nowrap xl:text-base;
}

h4 {
  @apply flex justify-end pb-4 w-full xl:pb-0;
}

p {
  @apply pb-4 leading-relaxed dark:text-neutral-300 text-neutral-600;
}

hr {
  @apply mx-8 mb-3 xl:mx-16 xl:mb-5 text-neutral-500;
}

main img {
  @apply pb-4;
}

main a[href] {
  @apply text-sky-600 hover:text-sky-800 dark:text-sky-300 dark:hover:text-sky-600 hover:underline hover:underline-offset-4;
}

.details {
  @apply px-8 py-4 bg-lime-100 rounded-2xl border border-lime-600 dark:bg-lime-950 dark:border-lime-700 border-spacing-2;
}

.error {
  @apply text-red-600;
}

svg.background {
  @apply pl-4;
}

#elevation svg text {
  @apply font-light fill-gray-800 stroke-0 filter-none dark:fill-gray-300;
  font-family: 'NotoSansMono' !important;
  font-size: max(0.8vw, 12px) !important;
}

#elevation svg .axisLabel,
#elevation svg .label {
  @apply font-light fill-gray-800 stroke-0 filter-none dark:fill-gray-300;
  font-family: 'NotoSansMono' !important;
  font-size: max(0.8vw, 12px) !important;
}

.elevation-polyline {
  stroke: green !important;
  stroke-width: 4 !important;
  stroke-opacity: 0.7 !important;
  filter: none !important;
}

.height-focus-group line, .height-focus-group text {
  display: none !important;
}

.elevation-control .mouse-focus-label-text {
  @apply font-light text-gray-800 dark:text-gray-300 filter-none;
}

.elevation-control .mouse-focus-label-rect {
  @apply font-light text-gray-800 dark:text-gray-300 filter-none;
  fill: #9d3 !important;
}

@media (prefers-color-scheme: dark) {
  .elevation-control .mouse-focus-label-rect {
    fill: #000 !important;
  }
}
